body {background-color: #4fa800;}

header {
    text-align: center;
    padding: 3px;
    background-color: black;
    color:whitesmoke;
    font-family: 'courier new';

    background: url(https://images.theconversation.com/files/275002/original/file-20190516-69195-1yg53ff.jpg?ixlib=rb-1.1.0&q=20&auto=format&w=320&fit=clip&dpr=2&usm=12&cs=strip); 
}

nav {
    text-align: center;
        padding: 3px;
        background-color: Black;
        color: whitesmoke;
        font-family:'Courier New';
        background: url(https://images.theconversation.com/files/275002/original/file-20190516-69195-1yg53ff.jpg?ixlib=rb-1.1.0&q=20&auto=format&w=320&fit=clip&dpr=2&usm=12&cs=strip);
} 
    footer {
        text-align: center;
        padding: 3px;
        background-color: Black;
        color: whitesmoke;
        font-family:'Courier New';

        background: url(https://images.theconversation.com/files/275002/original/file-20190516-69195-1yg53ff.jpg?ixlib=rb-1.1.0&q=20&auto=format&w=320&fit=clip&dpr=2&usm=12&cs=strip);
    }

    <style>
a:link {
  color: #4fa800;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: greenyellow;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
</style>


