body {background-color: #4fa800; position: relative; margin: 0;}
  /* if elements share the same style declarations, they can be listed and separated but commas, as in lines 3-13 */
  header, 
  nav,
  footer {
    text-align: center;
    background-color: black;
    color: whitesmoke;
    font-family:'Courier New';
    width: 100%;
        background: url(https://images.theconversation.com/files/275002/original/file-20190516-69195-1yg53ff.jpg?ixlib=rb-1.1.0&q=20&auto=format&w=320&fit=clip&dpr=2&usm=12&cs=strip);
        alt: "freshly tilled soil";
  }
    
    
      header {  
        padding: 3px;
      }


    nav {
        padding: 3px;
        position: fixed;
          top: 119px;
      }


    footer {
        padding: 3px;
        position: fixed;
        bottom: 0;
        box-sizing: border-box;
      }
    

a:link {
  color: #4fa800;
  background-color: transparent;
  text-decoration: none;
}


a:visited {
  color: greenyellow;
  background-color: transparent;
  text-decoration: none;
}


a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}


a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}





